<a href="https://colab.research.google.com/github/Danxi3/GuzmanDaniella_BSIS2/blob/main/Activity2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Danxi3/GuzmanDaniella_BSIS2/main/SALARY_DATA%20(1).csv')

In [3]:
salary = df['Salary'].to_numpy()

In [4]:
mean_salary = np.mean(salary)

In [5]:

print(mean_salary)

70200.0

In [6]:
median_salary = np.median(salary)

In [7]:
print(median_salary)

70000.0

In [8]:
std_salary = np.std(salary)

In [9]:
print(std_salary)

15988.32907675679

In [10]:
total_salary = np.sum(salary)

In [11]:
print(total_salary)

1053000